##### Bài 1:
* Đếm số chuyến bay trễ của các sân bay (cột ‘origin’)
* Tương tự, đếm số chuyến bay không trễ của các sân bay
* Tạo bảng hiển thị số chuyến bay trễ vs. không trễ
* Vẽ lên biểu đồ
##### Bài 2: 
* Thực hiện tương tự với các hãng hàng không (cột ‘carrier’)
##### Bài 3:
* Tính thời gian trễ (gồm dep_delay và arr_delay) trung bình của các hãng
* Tính thời gian trễ (gồm dep_delay và arr_delay) trung bình từ các sân bay
* Vẽ các kết quả lên biểu đồ
##### Bài 4: 
* Tính tổng, trung bình, mean, median của quãng đường bay của từng hãng (cột distance)

In [2]:
import pandas as pd

# Load the CSV file into a DataFrame
df = pd.read_csv('nycflights.csv')

df.head()

,Unnamed: 0,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute
0,1,2013,1,1,517.0,2.0,830.0,11.0,UA,N14228,1545,EWR,IAH,227.0,1400,5.0,17.0
1,2,2013,1,1,533.0,4.0,850.0,20.0,UA,N24211,1714,LGA,IAH,227.0,1416,5.0,33.0
2,3,2013,1,1,542.0,2.0,923.0,33.0,AA,N619AA,1141,JFK,MIA,160.0,1089,5.0,42.0
3,4,2013,1,1,544.0,-1.0,1004.0,-18.0,B6,N804JB,725,JFK,BQN,183.0,1576,5.0,44.0
4,5,2013,1,1,554.0,-6.0,812.0,-25.0,DL,N668DN,461,LGA,ATL,116.0,762,5.0,54.0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 336776 entries, 0 to 336775
Data columns (total 17 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  336776 non-null  int64
 1   year        336776 non-null  int64
 2   month       336776 non-null  int64
 3   day         336776 non-null  int64
 4   dep_time    328521 non-null  float64
 5   dep_delay   328521 non-null  float64
 6   arr_time    328063 non-null  float64
 7   arr_delay   327346 non-null  float64
 8   carrier     336776 non-null  object
 9   tailnum     334264 non-null  object
 10  flight      336776 non-null  int64
 11  origin      336776 non-null  object
 12  dest        336776 non-null  object
 13  air_time    327346 non-null  float64
 14  distance    336776 non-null  int64
 15  hour        328521 non-null  float64
 16  minute      328521 non-null  float64
dtypes: float64(7), int64(6), object(4)
memory usage: 43.7+ MB

In [6]:
# Sort the DataFrame based on a time-based column
df = df.sort_values('dep_time')

# Interpolate the null values in the 'dep_delay' column using linear interpolation
df['dep_delay'] = df['dep_delay'].interpolate(method='linear')
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 336776 entries, 250450 to 336775
Data columns (total 17 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  336776 non-null  int64
 1   year        336776 non-null  int64
 2   month       336776 non-null  int64
 3   day         336776 non-null  int64
 4   dep_time    328521 non-null  float64
 5   dep_delay   336776 non-null  float64
 6   arr_time    328063 non-null  float64
 7   arr_delay   327346 non-null  float64
 8   carrier     336776 non-null  object
 9   tailnum     334264 non-null  object
 10  flight      336776 non-null  int64
 11  origin      336776 non-null  object
 12  dest        336776 non-null  object
 13  air_time    327346 non-null  float64
 14  distance    336776 non-null  int64
 15  hour        328521 non-null  float64
 16  minute      328521 non-null  float64
dtypes: float64(7), int64(6), object(4)
memory usage: 46.2+ MB